body {
    margin: 0;
    height: 100vh; /* 100% af viewportens højde */
    display: flex;
    justify-content: center; /* Centrer vandret */
    align-items: center; /* Centrer lodret */
    background-color: #ffffff; /* Baggrundsfarve */
    font-family: 'Roboto', sans-serif; /* Brug Roboto-skrifttypen */
    color: #333; /* Mørkegrå farve */
}

.tekst {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333; /* Mørkegrå farve */
    z-index: 1000; /* Sørg for at teksten er foran clouds */
    font-family: 'Roboto', sans-serif; /* Brug Roboto-skrifttypen */
}

.main-title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px; /* Afstand til under teksten */
}

.sub-text {
    font-size: 22px;
}

#vantajs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
